.GUI_container3{
    margin-top: 0.3rem;
    padding: 5%;
    background-color: var(--div-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

